.ax_default {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
.basicbutton {
  font-family:'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
.imagecontainer {
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#EDF0F2;
}
.basicbutton-outline {
  font-family:'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#1BBC9C;
  text-align:center;
}
._文本段落 {
  text-align:left;
}
.san_fran_reg_12px {
  font-family:'San Francisco Text';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#8899A6;
}
.san_fran_reg_20px {
  font-family:'San Francisco Text';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#8899A6;
  line-height:20px;
}
._形状 {
}
.box_1 {
}
.box_2 {
}
.box_3 {
}
._图片 {
  color:#000000;
}
.placeholder {
}
._文本链接 {
  color:#0000FF;
}
._鼠标悬停文本链接时 {
}
._鼠标按下文本链接时 {
}
.button {
}
.primary_button {
  color:#FFFFFF;
}
._一级标题 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._二级标题 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._三级标题 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._四级标题 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._五级标题 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
._六级标题 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.label {
  font-size:14px;
  text-align:left;
}
.horizontal_line {
}
._文本段落1 {
  text-align:left;
}
._文本链接1 {
  color:#0000FF;
}
._鼠标悬停文本链接时1 {
}
.form_hint {
  color:#999999;
}
.form_disabled {
}
.line {
}
.arrow {
}
._流程形状 {
}
._形状1 {
}
._表格 {
  line-height:normal;
}
._单元格 {
}
.menu_item {
}
.sticky_2 {
  text-align:left;
}
.sticky_3 {
  text-align:left;
}
.marker {
  color:#FFFFFF;
}
._水平线 {
}
._文本框 {
  color:#000000;
  text-align:left;
}
._垂直线 {
}
._连接线 {
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
.snapshot {
}
._图片1 {
}
.ellipse {
}
.link_button {
  color:#169BD5;
}
.flow_shape {
}
.image {
}
._鼠标按下文本链接时1 {
}
._默认样式 {
}
.text_field {
  text-align:left;
}
.text_area {
  color:#000000;
  text-align:left;
}
.droplist {
  color:#000000;
  text-align:left;
}
.checkbox {
  text-align:left;
}
.radio_button {
  text-align:left;
}
.icon {
}
._形状2 {
  font-size:13px;
  color:#000000;
}
._文本段落2 {
  font-size:13px;
  color:#000000;
  text-align:left;
}
.ellipse1 {
}
._文本框1 {
  color:#000000;
  text-align:left;
}
._流程形状1 {
}
._文本段落3 {
  text-align:left;
}
._图片2 {
  color:#000000;
}
.image1 {
}
.box_21 {
}
.ellipse2 {
}
.image2 {
  color:#000000;
}
.vertical_line {
}
.table {
}
.table_cell {
}
.shape {
}
._36号字_顶部标题、大按钮、弹窗提示主标题_ {
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._32号字_单行列表内，右方操作说明的文字__） {
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
._24号字_最小说明文本，例如列表时间态、版权信息等） {
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
._28号字_页面备注信息及列表的表头说明文字__） {
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.heading_2 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.paragraph {
  text-align:left;
}
.heading_1 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.connector {
}
.box_22 {
}
.shape1 {
}
.box_11 {
}
.image3 {
  color:#000000;
}
.iconfont {
  font-family:'iconfont';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
.label1 {
  font-size:14px;
  text-align:left;
}
.sticky_1 {
  text-align:left;
}
._图片3 {
  color:#000000;
}
textarea, select, input, button { outline: none; }
